{% import 'macros/heading.html' as heading %}

{% macro form(model_name, field_name, model_identifier, form, image_url, class='img-responsive', alt='', placeholder='Upload your image') %}

{% with field_id = (model_name + '-' + field_name + '-' + model_identifier) %}

<form id="image-form-{{ field_id }}" method="POST" class="form-editable dropzone-to-enable" action="{{ url_for('editable.image_update', model_name=model_name, field_name=field_name, model_identifier=model_identifier) }}" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div class="title-image-wrapper"><div class="editable-wrapper">
    <div class="fallback">
    {{ heading.field(form.image, placeholder=placeholder) }}
    </div>

    <img class="{{ class }}" src="{{ image_url }}" alt="{{ alt }}">
  </div></div>

  <div class="form-editable-button">
  <button type="submit" class="btn btn-default">Upload</button>
  </div>

  {% include 'autosave_status.html' %}
</form>

{% endwith %}

{% endmacro %}
