{% import 'macros/heading.html' as heading %}

{% macro form(model_name, field_name, model_identifier, form, class='h2', placeholder='Type your title', wrap_element_start='', wrap_element_end='') %}

{% with field_id = (model_name + '-' + field_name + '-' + model_identifier) %}

<form id="short-text-form-{{ field_id }}" method="POST" class="form-editable" action="{{ url_for('editable.text_update', model_name=model_name, field_name=field_name, model_identifier=model_identifier) }}" data-autosave-url="{{ url_for('editable.text_update_autosave', model_name=model_name, field_name=field_name, model_identifier=model_identifier) }}" data-autosave-field-id="{{ field_id }}">
  {{ form.hidden_tag() }}

  <div class="title-image-wrapper"><div class="editable-wrapper">
    {{ heading.field(form.content, field_id=field_id, class=class, placeholder=placeholder, wrap_element_start=wrap_element_start, wrap_element_end=wrap_element_end) }}
  </div></div>

  <div class="form-editable-button">
  <button type="submit" class="btn btn-default">Update</button>
  </div>

  {% include 'autosave_status.html' %}
</form>

{% endwith %}

{% endmacro %}
