{% import 'macros/heading.html' as heading %}

{% macro form(model_name, field_name, model_identifier, form, class='h2', placeholder='Type your title') %}

<form id="short-text-form-{{ model_identifier }}" method="POST" class="form-editable" action="{{ url_for('editable.text_update', model_name=model_name, field_name=field_name, model_identifier=model_identifier) }}" data-autosave-url="{{ url_for('editable.text_update_autosave', model_name=model_name, field_name=field_name, model_identifier=model_identifier) }}">
  {{ form.hidden_tag() }}

  <div class="title-image-wrapper"><div class="editable-wrapper">
    {{ heading.field(form.content, class=class, placeholder=placeholder) }}
  </div></div>

  <button type="submit" class="btn btn-default">Update</button>

  {% include 'autosave_status.html' %}
</form>
{% endmacro %}
