/* EDITABLE */

.form-editable label {
  display: none;
}

.form-editable-button {
  margin-bottom: 40px;
}

.form-editable-inline {
  display: inline;
}

.title-image-wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.edit-icon-wrapper {
  position: absolute;
  top: 0.7em;
  left: -2.5em;
  color: #999;
}

.btn .edit-icon-wrapper {
  top: 0;
  left: -2em;
}

h1 .edit-icon-wrapper, .h1 .edit-icon-wrapper {
  top: 1em;
  left: -2em;
  font-size: 18px;
}

.edit-icon-dante {
  left: -1.5em;
}

.form-editable input[type=text] {
  background-color: transparent;
  width: 100%;
}

.form-editable span input[type=text] {
  width: 40%;
}

.form-editable input[type=text], .dante-editable {
  border: 1px solid transparent;
}

.form-editable input[type=text].active, .dante-editable.active {
  border: 1px dotted #999;
}

.postArticle .layoutSingleColumn {
  width: auto;
}
