@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic|Open+Sans:400,300,800);



/* UNIVERSAL */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.img-lesswidth {
  max-width: 256px;
}

.jumbotron .img-lesswidth {
  margin: 0 auto 20px;
}



/* FORMS */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.text-center input[type=text] {
  text-align: center;
}



/* BODY CONTENT */

.short-text-content {
  margin-bottom: 15px;
}

.rich-text-content {
  font-family: "freight-text-pro", "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  line-height: 1.69;
  margin-bottom: 30px;
}



/* IMAGE CAPTION */

.rollover-link {
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.rollover-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(188, 188, 188, .9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

.rollover-link .caption:hover {
    opacity: 1;
}

.rollover-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.rollover-link .caption .caption-content i {
    margin-top: -12px;
}

.rollover-link .caption .caption-content h3,
.rollover-link .caption .caption-content h4 {
    margin: 0;
}



/* ADD / PLUS BUTTONS */

.add-plus-wrapper {
  border: 5px solid #999;
  padding: 20px;
  display: inline-block;
  border-radius: 50%;
  font-size: 2em;
  min-width: 92px;
  min-height: 92px;
}

.add-plus-wrapper span {
  color: #999;
}

.add-plus-caption {
  padding-bottom: 10px;
}

.add-plus .add-plus-caption span {
  opacity: 0;
  transition: all ease .5s;
}

.add-plus:hover .add-plus-caption span {
  opacity: 1;
  transition: all ease .5s;
}

button.add-plus {
  display: inline-block;
  text-decoration: none;
  background: transparent;
  border: 0;
  margin: 20px 0 0;
  padding: 0;
}

a.add-plus, a.add-plus:hover, a.add-plus:focus {
  text-decoration: none;
}

.add-plus .add-plus-wrapper, .add-plus .add-plus-wrapper span {
  transition: all ease .5s;
}

.add-plus:hover .add-plus-wrapper, .add-plus:focus .add-plus-wrapper, .add-plus:active .add-plus-wrapper, .add-plus.active .add-plus-wrapper {
  border-color: #333;
  transition: all ease .5s;
}

.add-plus:hover .add-plus-wrapper span, .add-plus:focus .add-plus-wrapper span, .add-plus:active .add-plus-wrapper span, .add-plus.active .add-plus-wrapper span {
  color: #333;
  transition: all ease .5s;
}



/* MODALS */

.editable-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.editable-modal .modal-content h2 {
    margin: 0 0 30px;
    font-size: 3em;
}

.editable-modal .modal-content img {
    margin-bottom: 30px;
}

.editable-modal .modal-content .item-details {
    margin: 30px 0;
}

.editable-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.editable-modal .close-modal:hover {
    opacity: .3;
}

.editable-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.editable-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.editable-modal .modal-backdrop {
    display: none;
    opacity: 0;
}



/* FOOTER */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}
