{% extends "layout.html" %}

{% import 'macros/short_text.html' as short_text %}
{% import 'macros/rich_text.html' as rich_text %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1 class="text-center">
    {% with model_name = 'short_text_content_block' %}
    {% with field_name = 'content' %}
    {% with model_identifier = 'site-welcome-prefix' %}
    {% if stc_blocks[model_identifier].form is defined %}
    {% with form = stc_blocks[model_identifier].form %}

    {{ short_text.form(model_name, field_name, model_identifier, form, class='', placeholder=stc_blocks[model_identifier].title, wrap_element_start='<span>', wrap_element_end='</span>') }}

    {% endwith %}
    {% else %}
    {{ stc_blocks[model_identifier].content }}
    {% endif %}
    {% endwith %}
    {% endwith %}
    {% endwith %}

    {{ config.SITE_NAME }}
  </h1>

  {% with model_name = 'short_text_content_block' %}
  {% with field_name = 'content' %}
  {% with model_identifier = 'site-byline' %}
  {% if stc_blocks[model_identifier].form is defined %}
  {% with form = stc_blocks[model_identifier].form %}

  {{ short_text.form(model_name, field_name, model_identifier, form, class='', placeholder=stc_blocks[model_identifier].title, wrap_element_start='<p>', wrap_element_end='</p>') }}

  {% endwith %}
  {% else %}
  <p>{{ stc_blocks[model_identifier].content }}</p>
  {% endif %}
  {% endwith %}
  {% endwith %}
  {% endwith %}

  {% with model_name = 'short_text_content_block' %}
  {% with field_name = 'content' %}
  {% with model_identifier = 'site-byline-link-title' %}

  {% if stc_blocks[model_identifier].form is defined %}

  <div><span class="btn btn-primary btn-large">

  {% with form = stc_blocks[model_identifier].form %}

  {{ short_text.form(model_name, field_name, model_identifier, form, class='', placeholder=stc_blocks[model_identifier].title, wrap_element_start='<span>', wrap_element_end='</span>') }}

  {% endwith %}

  {% with model_name = 'short_text_content_block' %}
  {% with field_name = 'content' %}
  {% with model_identifier = 'site-byline-link-url' %}
  {% if stc_blocks[model_identifier].form is defined %}
  {% with form = stc_blocks[model_identifier].form %}

  ( {{ short_text.form(model_name, field_name, model_identifier, form, class='', placeholder=stc_blocks[model_identifier].title, wrap_element_start='<span>', wrap_element_end='</span>') }} )

  {% endwith %}
  {% endif %}
  {% endwith %}
  {% endwith %}
  {% endwith %}

  &raquo;</span></div>

  {% else %}
  <p><a href="{{ stc_blocks['site-byline-link-url'].content }}" class="btn btn-primary btn-large">{{ stc_blocks[model_identifier].content }} &raquo;</a></p>
  {% endif %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-sm-12">

  {% with model_name = 'short_text_content_block' %}
  {% with field_name = 'content' %}
  {% with model_identifier = 'about-title' %}
  {% if stc_blocks[model_identifier].form is defined %}
  {% with form = stc_blocks[model_identifier].form %}

  {{ short_text.form(model_name, field_name, model_identifier, form, class='', placeholder=stc_blocks[model_identifier].title, wrap_element_start='<h2>', wrap_element_end='</h2>') }}

  {% endwith %}
  {% else %}
  <div class="short-text-content">
  <h2>{{ stc_blocks[model_identifier].content }}</h2>
  </div>
  {% endif %}
  {% endwith %}
  {% endwith %}
  {% endwith %}

    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">

  {% with model_name = 'rich_text_content_block' %}
  {% with field_name = 'content' %}
  {% with model_identifier = 'about-text-left-column' %}
  {% if rtc_blocks[model_identifier].form is defined %}
  {% with form = rtc_blocks[model_identifier].form %}

  {{ rich_text.form(model_name, field_name, model_identifier, form, placeholder=rtc_blocks[model_identifier].title) }}

  {% endwith %}
  {% else %}
  <div class="rich-text-content">
  {{ rtc_blocks[model_identifier].content|safe }}
  </div>
  {% endif %}
  {% endwith %}
  {% endwith %}
  {% endwith %}

    </div>

    <div class="col-sm-6">

  {% with model_name = 'rich_text_content_block' %}
  {% with field_name = 'content' %}
  {% with model_identifier = 'about-text-right-column' %}
  {% if rtc_blocks[model_identifier].form is defined %}
  {% with form = rtc_blocks[model_identifier].form %}

  {{ rich_text.form(model_name, field_name, model_identifier, form, placeholder=rtc_blocks[model_identifier].title) }}

  {% endwith %}
  {% else %}
  <div class="rich-text-content">
  {{ rtc_blocks[model_identifier].content|safe }}
  </div>
  {% endif %}
  {% endwith %}
  {% endwith %}
  {% endwith %}

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

  <div class="text-center">
  {% with model_name = 'rich_text_content_block' %}
  {% with field_name = 'content' %}
  {% with model_identifier = 'about-text-below-columns' %}
  {% if rtc_blocks[model_identifier].form is defined %}
  {% with form = rtc_blocks[model_identifier].form %}

  {{ rich_text.form(model_name, field_name, model_identifier, form, placeholder=rtc_blocks[model_identifier].title) }}

  {% endwith %}
  {% else %}
  <div class="rich-text-content">
  {{ rtc_blocks[model_identifier].content|safe }}
  </div>
  {% endif %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-code"></i> Bootstrap 3</h2>
      <p>Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.</p>
      <p><a class="btn btn-default" href="http://getbootstrap.com/">Official website &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-flask"></i> SQLAlchemy</h2>
      <p>SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.</p>
      <p><a href="http://www.sqlalchemy.org/" class="btn btn-default" href="#">Official website &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> WTForms</h2>
      <p>WTForms is a flexible forms validation and rendering library for python web development.</p>
      <p><a href="http://wtforms.simplecodes.com/" class="btn btn-default" href="#">Official website &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

{% block css_before %}
{% if not login_form %}
{% assets "css_admin" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endif %}
{% endblock %}

{% block js %}
{% if not login_form %}
{% assets "js_admin" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}

{% if config.GOOGLE_ANALYTICS_ACCOUNT_ID %}
{% with google_analytics_account_id = config.GOOGLE_ANALYTICS_ACCOUNT_ID %}
{% include 'google_analytics.html' %}
{% endwith %}
{% endif %}
{% endblock %}
