{% extends "layout.html" %}

{% import 'macros/short_text.html' as short_text %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome to {{ config.SITE_NAME }}</h1>

  {% with model_name = 'short_text_content_block' %}
  {% with field_name = 'content' %}
  {% with model_identifier = 'site-byline' %}
  {% if stc_blocks[model_identifier].form is defined %}
  {% with form = stc_blocks[model_identifier].form %}

  {{ short_text.form(model_name, field_name, model_identifier, form, class='', placeholder=stc_blocks[model_identifier].title) }}

  {% endwith %}
  {% else %}
  <p>{{ stc_blocks[model_identifier].content }}</p>
  {% endif %}
  {% endwith %}
  {% endwith %}
  {% endwith %}

  <p><a href="https://github.com/sloria/cookiecutter-flask" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-code"></i> Bootstrap 3</h2>
      <p>Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.</p>
      <p><a class="btn btn-default" href="http://getbootstrap.com/">Official website &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-flask"></i> SQLAlchemy</h2>
      <p>SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.</p>
      <p><a href="http://www.sqlalchemy.org/" class="btn btn-default" href="#">Official website &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> WTForms</h2>
      <p>WTForms is a flexible forms validation and rendering library for python web development.</p>
      <p><a href="http://wtforms.simplecodes.com/" class="btn btn-default" href="#">Official website &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

{% block js %}
{% if not login_form %}
{% assets "js_admin" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}

{% if config.GOOGLE_ANALYTICS_ACCOUNT_ID %}
{% with google_analytics_account_id = config.GOOGLE_ANALYTICS_ACCOUNT_ID %}
{% include 'google_analytics.html' %}
{% endwith %}
{% endif %}
{% endblock %}
